.img-4, .img-5, .img-6, .img-7, .img-8, .img-9 {
	display: none;
}
body {
	background-image: url(../img/topography.png)
}
html {
	font-family: 'Dosis', sans-serif;
}
h1 {
	color: #3DB322;
    font-size: 42px;
    text-align: center;
    font-weight: bold;
    margin-top: 27px;
}
h2 {
	color: #3DB322;
	text-align: center;
}
.wrapper {
	padding: 20px 50px;

}

.menu {
	background-color: #3DB322;
	padding: 15px;
	text-align: center;
	border-radius: 15px;
}
.menu li a {
	text-decoration: none;
	display: inline-block;
	color: white;
	font-size: 35px;
	font-weight: 800;
	padding: 5px;
}

.menu li a:hover, .menu li:first-child a {
	background-color: white;
	color: #3DB322;
	border-radius: 15px;
	padding: 5px;
}


.menu li {
	display: inline-block;
	margin: 10px 20px;
}

.main-container {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	align-items: stretch;
	justify-content: space-between;
}

img {
	display: block;
	height: 300px;
	width: 300px;
	border-radius: 50%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 15px;
}

p {
	padding: 20px;
	text-align: justify;
	line-height: 31px;
    font-size: 17px;
}

.content-1, .content-2, .content-3 {
	margin: 20px;
	background-color: #6CFF4A;
	max-width: 350px;
	border-radius: 15px;
	border: 2px solid white;
}

.content-1:hover, .content-2:hover, .content-3:hover {
	border: 2px solid #3DB322;
}


@media(max-width: 1297px) {
	.content-1, .content-2, .content-3 {
		max-width: 250px;
	}

	img {
		width: 220px;
		height: 220px;
	}
}

@media(max-width: 997px) {
	.main-container {justify-content: space-around;}

	.content-1, .content-2, .content-3 {
		max-width: 350px;
	}

	img {
		width: 320px;
		height: 320px;
	}
}

@media(max-width: 904px) {
	.menu {
		padding: 7px;
	}

	.content-1, .content-2, .content-3 {
		max-width: 600px;
	}

	img {
		width: 300px;
		height: 300px;
	}
}

@media(max-width: 620px) {
	.menu li {
		margin: 0px 15px;
	}

	.menu li a {
		font-size: 30px;
	}

	img {
		width: 200px;
		height: 200px;
	}
	.wrapper {
		padding: 12px 35px;
	}	
	h2 {
		font-size: 20px;
	}
}

@media(max-width: 520px) {
	p {
		line-height: 28px;
		font-size: 16px;
	}
	.wrapper {
		padding: 12px 35px;
	}
}

@media(max-width: 478px) {
	.wrapper {
		padding: 5px 13px;
	}
}

@media(max-width: 413px) {
	.menu {
		padding: 4px;
	}
	.menu li {
		margin: 0px 7px;
	}
	p {
		line-height: 26px;
		font-size: 15px;
	}
	h1 {
		font-size: 36px;
	}
	h2 {
		font-size: 18px;

	}

	.content-1, .content-2, .content-3 {
		margin: 0;
	}
	img {
		width: 150px;
		height: 150px;
	}
}

@media(max-width: 359px) {
	.menu {
		display: flex;
	}
	.menu li a {
		font-size: 25px;
	}
	.wrapper {
		padding: 5px 10px;
	}

	h1 {
		font-size: 32px;
	}
}
